@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.font-cinzel {
  font-family: "Cinzel", serif !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
}

.time-slot input {
  display: none;
}

.time-slot {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #fff !important;
  cursor: pointer;
  color: white;
}

.time-slot:hover {
  background-color: transparent;
  border: 1px solid #059669 !important;
}

.time-slot.selected {
  background-color: transparent;
  border: 1px solid #059669 !important;
  transform: scale(1.05);
}

.tran-time {
  transition: .2s !important;
}

.pay-btn {
  transition: .3s;
}

.pay-btn:hover {
  border: 1px solid #059669;
  color: white !important;
}

@media screen and (max-width: 640px) {
  .margin-left {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 450px) {
  .time-slot {
    padding: 7px 12px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media screen and (max-width: 415px) {
  .time-slot {
    padding: 7px 22px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media screen and (max-width: 376px) {
  .time-slot {
    padding: 7px 17px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
}